
<nav class="navbar navbar-expand-lg header-bg">
  <div class="container">
    <div class="navbar-header d-flex">
        <button type="button" class="navbar-toggler" (click)="collapsed = !collapsed">
          <span class="navbar-toggler-icon" *ngFor="let iconBar of [1]"></span>
        </button>
        <div class="brand-name-margin">
          <a routerLink="/" class="navbar-brand "><img src="\assets\images\chef.png" class="img-responsive img-logo-size" alt="Cookpedia"> 
            <span class="cook-text"> Cookpedia</span></a>
        </div>
        
      </div>
      <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <li class="m-2">
            <a class="nav-link  navbar-header-text" aria-current="page" href="#" (click)="onSelect('recipes')">Recipes</a>
          </li>
          <li class="m-2">
            <a class="nav-link navbar-header-text" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
          </li>
          <li class="m-2">
            <a class="nav-link navbar-header-text" href="#" >Articles</a>
          </li>
          <li class="dropdown m-2">
            <a class="nav-link dropdown-toggle navbar-header-text" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manage
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Save Data</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
        <hr>
        <div class="col-md-2">
          <input type="text" class="form-control-sm search-input-field" placeholder="Search..." autocomplete="off">
        </div>
        <div class="d-flex justify-content-between col-md-1">
          <a href="#" >
            <img src="/assets/images/search.png" class="img-responsive img-logo-size" alt="Search" title="Search">
          </a>
          <span class="empty-space-between"></span>
          <a href="#">
            <img src="/assets/images/login.png" class="img-responsive img-logo-size" alt="login" title="Login">
          </a>
        </div>
      </div>
    </div>
  </nav>
