<div class="container-fluid footer-bg-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-top-margin">
                <a routerLink="/" class="navbar-brand ">
                    <img src="\assets\images\chef.png" class="img-responsive footer-img-logo-size" alt="Cookpedia"> 
                    <span class="cook-text-footer"> Cookpedia</span></a>
                <p class="footer-para col-md-5 mt-3">Discover 1000+ recipes at your home with the best recipe possible. Help you to find the easiest way to cook.</p>

            </div>
            <div class="col-md-6 footer-top-margin">
                <p class="cook-text-footer">Sign up for our newsletter</p>
                <div class="d-flex justify-content-between mt-5">
                    <input type="text" class="form-control-sm email-input-field" placeholder="Your email address">
                    <button type="submit" class="btn btn-hero">Submit</button>
                </div>
                <hr>

                <div class="d-flex justify-content-between mt-5">
                    <div>
                        <h2 class="cook-text-footer">Menu</h2>
                        <ul class="nav flex-column">
                            <li class="">
                              <a class="footer-para" href="#">Home</a>
                            </li>
                            <li class="">
                              <a class="footer-para" href="#">Recipes</a>
                            </li>
                            <li class="">
                              <a class="footer-para" href="#">Shopping List</a>
                            </li>
                            <li class="">
                                <a class="footer-para" href="#">Articles</a>
                            </li>
                            <li class="">
                                <a class="footer-para" href="#">Manage</a>
                            </li>
                          </ul>
                       
                    </div>
                    <div>
                        <h2 class="cook-text-footer">Help</h2>
                        <ul class="nav flex-column">
                            <li class="">
                              <a class="footer-para" href="#">Privacy and Policy</a>
                            </li>
                            <li class="">
                              <a class="footer-para" href="#">Term of Use</a>
                            </li>
                            
                          </ul>
                        
                    </div>
                    <div>
                        <h2 class="cook-text-footer">Social</h2>
                        <ul class="nav flex-column">
                            <li class="">
                              <a class="footer-para" href="#">Instagram</a>
                            </li>
                            <li class="">
                              <a class="footer-para" href="#">Facebook</a>
                            </li>
                            <li class="">
                              <a class="footer-para" href="#">Twitter</a>
                            </li>
                            <li class="">
                                <a class="footer-para" href="#">Youtube</a>
                              </li>
                            
                          </ul>
                       
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>