<div class="empty-space-30"></div>
<div class="container-fluid middle-container-img d-flex align-items-center">
    <div class="row  mx-auto">
     
        <div class="col-md-7 col-sm-12 mx-auto middle-container-content">
         
            <h2 class="header-text-h2 text-center">50+ Quick and Easy Breakfast Recipes to Start Your Day Off Right.</h2>
            <p class="header-para mt-4 text-center">Find the perfect food ideas to start your day with the quick and easiest way.</p>
            <button type="button" class="btn btn-success d-block mx-auto btn-hero">Read More</button>
        </div>
   
    </div>
</div>
<div class="empty-space-40"></div>