<div class="empty-space-30"></div>
<div class="container-fluid middle-container-img">
    <div class="row">
        <a href="#" title="Read more...">
        <div class="col-md-6 mx-auto middle-container-content">
         
            <h2 class="header-text-h2">50+ Breakfast Recipes That Very Quick And Easy to Make </h2>
            <p class="header-para mt-4">Find the perfect food ideas to start your day with the quick and easiest way.</p>
            <img src="/assets/images/blue-arrow.png" alt="Click more" class="arrow-icon">
        </div>
    </a>
    </div>
</div>
<div class="empty-space-50"></div>