<div class="container-fluid bg-hero-section">
    <div class="container">
        <div class="row col-12 hero-text-center">
            <div class="col-md-6 col-xs-12 mt-3">
               <h1 class="hero-text pt-5 pb-3">The Easiest Way To Make Your Meal</h1>
               <p class="hero-para pt-4 pb-4">Discover 1000+ recipes at your home with the best recipe possible. Help you to find
                the easiest way to cook.
               </p>
               <button class="btn btn-hero mb-3" type="button">Explore Recipes</button>
            </div>
            <div class="col-md-6 col-xs-12 hero-img-container">
                
                   <img  src="/assets/images/hero-image.JPG" alt="Food Image" class="img-responsive hero-image-size"/>
                
            </div>
        </div>
    </div>
</div>