<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive recipe-img-detail-size mt-5">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Manage</button>
            <ul class="dropdown-menu">
                <li><a href="#">To Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>

        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row recipe-edit-details">
    <div class="col-xs-12">
       <a href="" class="see-all-link">Ingredients</a> 
       <ul>
        <li>Ingredient 1 -------   ( )</li>
        <li>Ingredient 2 -------   ( )</li>
        <li>Ingredient 3 -------   ( )</li>
        <li>Ingredient 4 -------   ( )</li>
        <li>Ingredient 5 -------   ( )</li>
       </ul>
       
    </div>
</div>