/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'YourFontName';
  src: url('path/to/font.woff2') format('woff2'),
       url('path/to/font.woff') format('woff'),
       url('path/to/font.ttf') format('truetype');
  /* Additional font properties */
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-color: #FF0000;
  --secondary-color: #00FF00;
  --background-color: #FFFFFF;
}
body {
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-color);
}

p {
  color: var(--secondary-color);
}


body {
  font-family: 'YourFontName', sans-serif;
}

.recipe-img-size {
    max-width: 50%;
    border-radius: 0.75rem;
 }
 .recipe-img-detail-size {
   max-width: 80%;
   border-radius: 0.75rem;
 }
 .header-bg {
  background-color: #295846;
  
 }
 .navbar-header-text {
  color: #fff;
 }
 .navbar-header-text:hover{
  background-color: white;
  color: #295846;
 }
 .btn{
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.navbar-toggler {
  color: white;
  border: 0px  solid white;
}
.navbar {
--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}