/* Global Style By - Anil Paswan */


@import '~bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family:  Roboto;
  src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype'),
       url('assets/fonts/lato/Lato-Regular.ttf') format('truetype');     
}

body {
  font-family: Roboto, Lato;
}

:root {
  --primary-color: #295846;
  --secondary-color: #0b9a62;
  --tertiary-color: #87a99b;
  --other-color1: #292929;
  --other-color2: #888888;
  --other-color3: #00ff00;
  --other-color4: #FF8D1D;
}


.img-logo-size {
  width: 28px;
  height: 28px;
}

.recipe-img-container {
  position: relative;
  width: 23rem;
  height: 23rem;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 100%;
}

.recipe-img-size {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.recipe-img-container:hover .recipe-img-size {
  transform: scale(1.1);
}

.recipe-details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.recipe-name,
.recipe-author {
  margin: 0;
}

 .recipe-img-detail-size {
   max-width: 45%;
   border-radius: 0.75rem;
 }

 .header-bg {
  background-color: #295846;
  
 }
 .navbar-header-text {
  color: #fff;
 }
 .navbar-brand{
  color: #fff;
 }
 .navbar-brand:hover{
  color: #fff;
 }
 .nav-link:focus, .nav-link:hover {
  color:white;
}
.navbar-header-text:hover{
  background-color: white;
  color: #295846;
  border-radius: 3px;
 }
 .navbar-header-text:focus{
  background-color: white;
  color: #295846;
  border-radius: 3px;
 }
 .cook-text {
  font-size:1.3rem;
  vertical-align: sub;
  color: white;
 }
 .btn{
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.navbar-toggler {
  color: white;
  border: 0px  solid white;
}
.navbar {
--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.bg-hero-section {
  background-color: var(--primary-color);
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.hero-image-size {
  width: 114%;
}
.hero-text {
  font-size: 4rem;
  color: white;
  font-weight: 600;
}
.hero-para {
  color: #b9c0bd;
  font-size: 1.25rem;
}
.btn-hero {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 8px;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.btn-hero:hover{
  background-color: white;
  color: #295846;
  border-radius: 8px;
 }

.search-input-field {
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 92%;
}
.search-input-field:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #00ff00;

}
.empty-space-20 {
  margin-top: 2rem;
}
.empty-space-30 {
  margin-top: 3rem;
}
.empty-space-40 {
  margin-top: 6rem;
}
.empty-space-50 {
  margin-top: 8rem;
}
.header-text-h1 {
  font-size: 2.9rem;
  color: var(--other-color1);
}
.header-para {
  color: var(--other-color2);
  font-size: 1.35rem;
}
.see-all-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 600;
}
.see-all-link:hover {
  color: var(--primary-color);
}
.recipe-name {
  color: var(--other-color1);
  font-size: 2rem;
  font-weight: 600;
}
.recipe-author {
  color: var(--other-color2);
  font-size: 1.4rem;
}
.middle-container-img {
  background-image: url('assets/images/middle.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  min-height: 520px;
  max-height: 100vh;
  
}

.header-text-h2 {
  font-size: 2.4rem;
  color: #343030;
  font-weight: 600;
}
.middle-container-content {
  background-color: white;
  border-radius: 10px;
  padding:2.5rem;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  transition: all 0.4s;
  overflow: hidden;

  .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    vertical-align: 0;
  }
}
.middle-container-content:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);

}


.footer-bg-container{
  background-color: var(--primary-color);
  height: 100%;
  min-height: 65vh;
}
.footer-para {
  color: #b9c0bd;
  font-size: 1rem;
}
.footer-img-logo-size{
  width: 38px;
  height: 38px;
}
.cook-text-footer {
  font-size:1.7rem;
  vertical-align: top;
  color: #fff;
 }
 .footer-top-margin {
  margin-top:5rem;
 }
 .email-input-field {
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 65%;
}
.email-input-field:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #00ff00;

}
 hr {
  border-color: white; 
  border-width: 3px; 
}
.footer-links ul li a {
  text-decoration: none;
  transition: opacity 0.5s;
  display: inline-block;

}
.footer-links ul li {
  padding-top: 0.5rem;
}
.footer-links ul li a:hover {
  transform: scale(1.1);
  color: #00ff00;
}
.empty-space-between {
  width: 10px;
  display: inline-block;
}
.empty-space-between-lg {
  width: 3rem;
  display: inline-block;
}
.empty-space-between-lg1 {
  width: 11rem;
  display: inline-block;
}

.btn-scroll-top {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  transition: opacity 0.3s;
  text-align: center;
  transition: all 0.4s;
  opacity: 0.7;
}
.scroller-arrow {
 width: 2.875rem;
 height: 2.875rem;
 vertical-align: text-top;
}
.btn-scroll-top:hover {
   transform: scale(1.1);
   color: #fff;
    background-color: #008060;
    opacity: 1;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
#scrollToTopBtn.show {
  display: block;
}
.bg-change-clicked {
  background-color: var(--secondary-color);
}
.bi-x-lg {
  display: inline-block;
  width: 1.5em;
  vertical-align:0;
}
.navbar-toggler{
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    vertical-align:0;
  }
}

.btn-scroll-top {
 .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  vertical-align: 0;
 }
}
.icon-color{
  color: var(--secondary-color);
}
.profile-img {
  width: 4rem; 
  height: 4rem;
  border-radius: 50%;
}
.profile-name {
  margin-left: 1rem;
}
.profile-name {
  .card-title {
    color: var(--other-color4);
    font-weight: 600;
    font-size: 1.6rem;
  }
  .card-text {
    color: var(--other-color2);
  }
}
.card-para {
  color:black;
  font-size: 1.1rem;
}
.stars {
  color: #ffc107;
  font-size: 1.2rem;
  margin-left: 4.5rem;
}
.card-image-container {
  width:100%;
  height: 100%;
  .card-recipe-img {
    border-radius: 1rem;
  }
}
.comm-card-border {
  border: none;
  margin-bottom: 3rem !important;
  transition: all 0.5s ease;
}
.comm-card-border:hover {
  background-color: antiquewhite;
  cursor: pointer;
  border-radius: 1rem;
}
.recipe-icons-container {
  .bi-hand-thumbs-up, .bi-share  {
    color: black;
    font-size: 1.2rem;
    font-style: normal;
    width: 5rem;
  }
  .bi-hand-thumbs-up:hover,
   .bi-share:hover {
    color: var(--secondary-color);
    cursor: pointer;
  }
  .bi-hand-thumbs-up-fill {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-style: normal;
    width: 5rem;
  }
}
.carousel-controls {
  position: absolute;
  bottom: 0;
  right: 3rem;
  .bi-arrow-left {
    color: var(--other-color2);
    font-size: 1.7rem;
    border-radius: 50%;
    padding:1rem;
    background-color:rgba(0, 0, 0, 0.15);
    width: 4.25rem;
    height: 4.25rem;
    vertical-align: 0;
  }
  .bi-arrow-right {
    color: white;
    font-size: 1.7rem;
    border-radius: 50%;
    padding:1rem;
    background-color: var(--secondary-color);
    width: 4.25rem;
    height: 4.25rem;
    vertical-align: 0;
  }
  .carousel-control-next, .carousel-control-prev {
    opacity: 0.9;
    width: unset !important;
  }
  .carousel-control-next:hover, 
  .carousel-control-prev:hover {
    opacity: 1;
  }
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: var(--secondary-color);

}
.carousel-indicators {
  margin-bottom: 0;
  margin-left: 5% !important;
}
.carousel-indicators [data-bs-target] {

  width: 27%;
  height: 4px;
  margin-right: 0px; 
  margin-left: 0px;
  border-radius: 10px;
}
.carousel-caption {
  bottom: -1.6rem;
  display: flex;
  margin-left: -9rem;
  font-weight: 600;
}


.shape-container {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.shape-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}
.shape {
  position: absolute;
  z-index: -1;
}
.text-primary-dark {
  --bs-text-opacity: 1;
  color: var(--primary-color);
}
.shape-bottom>svg {
  width: 100%;
  height: auto;
  margin-bottom: -1px;
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.shape[class*=text-]>svg [fill]:not([fill=none]) {
  fill: currentColor!important;
}

.added-item-container {
  .list-group {
    border: none;
    margin-bottom: 20px;
  }
  
  .list-group-item {
    background-color: rgba(0, 189, 142, 0.1);
    border: 1px solid transparent;
    padding: 15px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
  }
  
  .list-group-item:hover {
    border: 1px solid #97edc5;
  }
  
  .list-group-item .d-flex {
    justify-content: space-between;
    align-items: center;
  }
  
  .list-group-item h6 {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .list-group-item p {
    margin-bottom: 0;
    color: #6c757d;
  }
  
}

.shopping-list-form {
  .row {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 28px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .invalid-feedback {
    color: red;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  .btn-success {
    background-color: #28a745;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.4s ease;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.4s ease;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.4s ease;
  }
  .btn-success:hover {
    color: #28a745;
    background-color: white;
    border: 1px solid #28a745;
  }
  .btn-secondary:hover {
    color: #6c757d;
    background-color: white;
    border: 1px solid #6c757d;
  }
  .btn-danger:hover {
    color: #dc3545;
    background-color: white;
    border: 1px solid #dc3545;
  }
  
}













@media (max-width: 1400px) and (min-width: 992px) {
  .comm-card-border{
    .card-body {
      max-height: 20rem;
      height: 72vh;
     }
  }

}
@media (max-width: 992px) and (min-width: 758px) {
  .comm-card-border{
    .card-body {
      max-height: 28rem;
      height:90vh;
     }
  }

}
@media (max-width:1199px){
  .carousel-indicators [data-bs-target] {
    display: none;
   }
   .carousel-caption {
     display: none;
   }
  
}
@media (max-width: 991px) {
  .brand-name-margin{
    margin-left: calc((100vw - 260px) / 2);
  }
  .search-input-field {
    display:none;
  }
  .header-right-nav {
    display: none !important;
  }
  .hero-text {
    padding-top: 0px !important;
    font-size: 2.5rem;
 }
  .nav-link:hover {
  color: var(--other-color4);
}
.navbar-header-text:hover {
  background-color: transparent;
}
.recipe-img-container {
  height: 100%;
}
#scrollToTopBtn {
  bottom: 20px;
  right: 20px;
}
.profile-details-container {
  display:block !important;
  text-align: center;
}
.stars {
  margin-left:0;
  text-align: center;
}
.carousel-controls {
  position: initial;
}
.profile-name {
   margin-left: 0; 
}
.card-para {
  text-align: justify;
}
}
@media (max-width: 991px) and (min-width: 768px) {
  .hero-img-container {
  display: flex;
  align-items: center;
  }
  .hero-image-size {
   max-width: 114%;
    width: 100%;
  }
  .recipe-img-detail-size {
    max-width: 70%;
  }
 
}
@media (max-width: 767px) {
  .hero-text-center {
    text-align: center;
  }
  .recipe-img-container {
    width: 100%;
    height: 100%;
    text-align: center;
  }

 .header-text-h1 {
  font-size: 2.5rem;
}
.see-all-link {
  padding-bottom: 1rem;
}
.header-text-h2 {
  font-size: 2.2rem;
}
.middle-container-content {
  padding: 1.5rem;
}
.recipe-header-container{
  text-align: center;
}
.mobile-empty-space-40 {
margin-top: 3.9rem;
}
.recipe-img-detail-size {
  max-width: 100%;
}
}
