/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family:  Roboto;
  src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype'),
       url('assets/fonts/lato/Lato-Regular.ttf') format('truetype');     
}

body {
  font-family: Roboto, Lato;
}

:root {
  --primary-color: #295846;
  --secondary-color: #0b9a62;
  --tertiary-color: #87a99b;
  --other-color1: #292929;
  --other-color2: #888888;
  --other-color3: #00ff00;
}

.img-logo-size {
  width: 28px;
  height: 28px;
}

.recipe-img-container {
  position: relative;
  width: 23rem;
  height: 23rem;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 100%;
}

.recipe-img-size {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.recipe-img-container:hover .recipe-img-size {
  transform: scale(1.1);
}

.recipe-details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.recipe-name,
.recipe-author {
  margin: 0;
}


 .recipe-img-detail-size {
   max-width: 60%;
   border-radius: 0.75rem;
 }
 .header-bg {
  background-color: #295846;
  
 }
 .navbar-header-text {
  color: #fff;
 }
 .navbar-brand{
  color: #fff;
 }
 .navbar-brand:hover{
  color: #fff;
 }
 .nav-link:focus, .nav-link:hover {
  color:white;
}
.navbar-header-text:hover{
  background-color: white;
  color: #295846;
  border-radius: 3px;
 }
 .navbar-header-text:focus{
  background-color: white;
  color: #295846;
  border-radius: 3px;
 }
 .cook-text {
  font-size:1.3rem;
  vertical-align: sub;
 }
 .btn{
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.navbar-toggler {
  color: white;
  border: 0px  solid white;
}
.navbar {
--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.bg-hero-section {
  background-color: var(--primary-color);
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.hero-image-size {
  width: 114%;
}
.hero-text {
  font-size: 4rem;
  color: white;
  font-weight: 600;
}
.hero-para {
  color: #b9c0bd;
  font-size: 1.25rem;
}
.btn-hero {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 8px;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.btn-hero:hover{
  background-color: white;
  color: #295846;
  border-radius: 8px;
 }

.search-input-field {
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 92%;
}
.search-input-field:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #00ff00;

}
.empty-space-20 {
  margin-top: 2rem;
}
.empty-space-30 {
  margin-top: 3rem;
}
.empty-space-40 {
  margin-top: 6rem;
}
.empty-space-50 {
  margin-top: 8rem;
}
.header-text-h1 {
  font-size: 2.9rem;
  color: var(--other-color1);
}
.header-para {
  color: var(--other-color2);
  font-size: 1.35rem;
}
.see-all-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 600;
}
.see-all-link:hover {
  color: var(--primary-color);
}
.recipe-name {
  color: var(--other-color1);
  font-size: 2rem;
  font-weight: 600;
}
.recipe-author {
  color: var(--other-color2);
  font-size: 1.4rem;
}
.middle-container-img {
  background-image: url('assets/images/middle.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  min-height: 520px;
  max-height: 100vh;
  
}

.header-text-h2 {
  font-size: 2.4rem;
  color: #343030;
  font-weight: 600;
}
.middle-container-content {
  background-color: white;
  border-radius: 10px;
  padding:2.5rem;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  transition: all 0.4s;
  overflow: hidden;

}
.middle-container-content:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}


.footer-bg-container{
  background-color: var(--primary-color);
  height: 100%;
  min-height: 65vh;
}
.footer-para {
  color: #b9c0bd;
  font-size: 1rem;
}
.footer-img-logo-size{
  width: 35px;
  height: 35px;
}
.cook-text-footer {
  font-size:1.7rem;
  vertical-align: top;
  color: #fff;
 }
 .footer-top-margin {
  margin-top:5rem;
 }
 .email-input-field {
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 65%;
}
.email-input-field:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #00ff00;

}
 hr {
  border-color: white; 
  border-width: 3px; 
}
.footer-links ul li a {
  text-decoration: none;
  transition: opacity 0.5s;
  display: inline-block;

}
.footer-links ul li {
  padding-top: 0.5rem;
}
.footer-links ul li a:hover {
  transform: scale(1.1);
  color: #00ff00;
}
.empty-space-between {
  width: 10px;
  display: inline-block;
}

.btn-scroll-top {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transition: opacity 0.3s;
  text-align: center;
  transition: all 0.4s;
}
.scroller-arrow {
 width: 15px;
 height: 15px;
 vertical-align: text-top;
}
.btn-scroll-top:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#scrollToTopBtn.show {
  display: block;
}
.bg-change-clicked {
  background-color: var(--secondary-color);
}










@media (max-width: 991px) {
  .brand-name-margin{
    margin-left: calc((100vw - 260px) / 2);
  }
  .search-input-field {
    display:none;
  }
  .header-right-nav {
    display: none !important;
  }
  .hero-text {
    padding-top: 0px !important;
    font-size: 2.5rem;
 }
  .nav-link:hover {
  color:#ffcc33;
}
.navbar-header-text:hover {
  background-color: transparent;
}
.recipe-img-container {
  height: 100%;
}

}
@media (max-width: 991px) and (min-width: 768px) {
  .hero-img-container {
  display: flex;
  align-items: center;
  }
  .hero-image-size {
   max-width: 114%;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .hero-text-center {
    text-align: center;
  }
  .recipe-img-container {
    width: 100%;
    height: 100%;
    text-align: center;
  }

 .header-text-h1 {
  font-size: 2.5rem;
}
.see-all-link {
  padding-bottom: 1rem;
}
.header-text-h2 {
  font-size: 2.2rem;
}
.middle-container-content {
  padding: 1.5rem;
}
.recipe-header-container{
  text-align: center;
}
}
